# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.agents/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.txt

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
bun-debug.log*

# test output
coverage/

# editor metadata
.idea/

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
